__deprecated__
__objects__

*.old
*.o
*.so
*.pyc
.~*#

.vscode/ipch

app/sbnsampler

app2/sbnsampler
app2/*.wav

notebooks/.ipynb_checkpoints
notebooks/*.wav
notebooks/*.so
notebooks/*.c
notebooks/venv

simulator/simulator
simulator/*.bin
simulator/*.wav

