__deprecated__
__objects__

*.old
*.o
*.so
*.pyc
.~*#

.vscode/ipch

app_old/sbnsampler

app/sbnsampler
app/sbnsamplersim
app/dac.wav

notebooks/.ipynb_checkpoints
notebooks/*.wav
notebooks/*.so
notebooks/*.c
notebooks/venv

simulator/simulator
simulator/*.bin
simulator/*.wav

